doctype html
html
    head
        title Completar transacción - Pago!Seguro
        include common/headers.pug
        style(type="text/css").
            form {
                width: 700px;
            }
            button {
                width: 100%;
            }
    body
        div.contenedor-pagina.d-flex.flex-column.justify-content-center
            h1.text-center Pago!Seguro
            h2.text-center.mt-4 Completar transacción
            p.text-center ID de transacción: #{transaccion}
            form.row.mx-auto.mt-4(method="POST")
                .form-group.text-left.col-12
                    label(for="inputNumeroTarjeta") Número de tarjeta
                    input#inputNumeroTarjeta(type="number", name="numero_tarjeta", class="form-control", min="1000000000000000", max="9999999999999999", required)
                .form-group.text-left.col-6
                    label(for="inputExpiracion") Fecha de expiración
                    input#inputExpiracion(type="month", name="expiracion", required)
                .form-group.text-left.col-6
                    label(for="inputCodigo") Código de seguridad
                    div
                        input#inputCodigo(type="number", name="codigo", min="000", max="999")
                .form-group.text-left.col-6
                    label(for="inputNombre") Nombre
                    input#inputNombre(type="text", name="nombre", class="form-control", required)
                .form-group.text-left.col-6
                    label(for="inputApellido") Apellido
                    input#inputApellido(type="text", name="apellido", class="form-control", required)
                .form-group.text-left.col-6
                    label(for="inputDireccion") Direccion
                    input#inputDireccion(type="text", name="direccion", class="form-control", required)
                .form-group.text-left.col-6
                    label(for="inputCiudad") Ciudad
                    input#inputCiudad(type="text", name="ciudad", class="form-control", required)
                .form-group.text-left.col-6
                    label(for="inputProvincia") Provincia / Estado
                    input#inputProvincia(type="text", name="provincia", class="form-control", required)
                .form-group.text-left.col-6
                    label(for="inputPais") País
                    input#inputPais(type="text", name="pais", class="form-control", required)
                .form-group.text-left.col-6
                    label(for="inputEmail") Email
                    input#inputEmail(type="email", name="email", class="form-control", required)
                .form-group.text-left.col-6
                    label(for="inputTelefono") Teléfono
                    input#inputTelefono(type="text", name="telefono", class="form-control", required)
                button.btn.btn-primary.mt-3.mx-3(type="submit") Pagar $#{total_a_pagar}
        include common/scripts.pug
        script(src="js/pago.js")